In [122]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import ipywidgets

In [2]:
ufo = pd.read_csv("https://github.com/UIUC-iSchool-DataViz/is445_AOUAOG_fall2021/raw/master/week05/data/ufo-scrubbed-geocoded-time-standardized-00.csv",
                  names = ["date", "city", "state", "country",
                          "shape", "duration_seconds", "duration",
                          "comment", "report_date", "latitude", "longitude"],
                  parse_dates = ["date", "report_date"])

In [3]:
ufo

,date,city,state,country,shape,duration_seconds,duration,comment,report_date,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
80327,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,-86.784444
80328,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,-116.202500
80329,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,-122.284444
80330,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,-77.265556
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,-97.477778

In [4]:
ufo = ufo.fillna({'country':'unknown','state':'unknown', 'shape':'unknown'})

In [5]:
ufo

,date,city,state,country,shape,duration_seconds,duration,comment,report_date,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,unknown,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),unknown,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
80327,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,-86.784444
80328,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,-116.202500
80329,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,-122.284444
80330,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,-77.265556
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,-97.477778

In [6]:
nsample = 1000
downSampleMask = np.random.choice(range(len(ufo)), nsample, replace=False)

In [7]:
downSampleMask

array([46600,  6899,  3607, 72803, 17020,  4730,  1484, 11856, 51315,
       63288, 57428, 11861, 48514, 13257, 75877, 72959,  7421, 48039,
        8902, 26141, 66426, 16242, 37904, 21810, 71279,  3683, 44267,
       63191, 54726, 53048, 20148, 70260, 61890, 16712,  7068,  6617,
         511, 75732,  6274, 26584, 71665,  4675, 68739, 32641, 21090,
       28027, 32830, 46706, 39491,  5160, 37976, 77364,   116, 76385,
       42432, 66828, 18884, 48695, 40044, 10280, 49779, 35778,  3540,
       35265, 55792, 69105, 14834,  3653, 22611, 17466, 16065, 73637,
       53419, 57927,  4039, 36451, 68035, 52625,  5710, 66382, 37052,
       72318, 55310,  6157, 32219, 16850, 34987, 10819, 24692,  4274,
       57493,  6148, 76133,  3513, 69694, 18112, 49096,  8563, 35658,
       80124, 48510, 69618, 12158, 27408, 69893, 13826, 20193, 68114,
         348,  3573,  4282, 67058, 74631,  5238,   247, 49342, 15197,
       76407, 42094, 44699, 19916, 27022, 49493, 22003, 36571, 16318,
       20376, 63983, 52212, 64465,  6491, 33032,  9381, 44420, 21906,
       16723, 62143, 57453, 27456, 70670,  2028, 76239, 67790, 40088,
       17590, 14509, 47724, 72377, 74138, 48111, 57862, 49212, 64435,
       54796, 21139, 66598, 68775, 72651, 57641, 72115, 65790, 35161,
       31074, 72599, 54371,  6882, 36413, 64698, 55059, 79932, 78232,
       41106, 57521, 64179, 22862, 15416, 59427, 65177, 69403, 37858,
       54960, 48127, 20254,  9398, 34518, 33306, 68226,  5565, 66604,
       38650, 58918, 30598, 61052, 60596, 24489, 27898,   589, 69451,
        1194, 29446, 12434, 25045, 53530, 27074,  6417, 23105, 29372,
          30, 49592, 34589,  7846, 54320,  3038, 40952, 72259, 70915,
        3009,  9138,  4127, 20205,  8853, 14172, 46947, 58839, 23028,
       43568, 39514, 25861, 40039, 44760, 12727, 66357, 39410, 56868,
       27181, 36984, 13032, 55643, 59097, 71753, 19918, 51225, 52784,
       78035, 25540, 74171,  6116, 38869, 77766, 15801, 13008,  3903,
        2400,  7438, 36367, 29755, 22321, 76981, 53998, 64324, 36745,
       74276, 41113, 28025, 44544, 25278, 48104, 18480, 20966, 10563,
       33096,  3490, 65619, 57490, 72081, 17136, 65763, 18232, 66028,
       35681, 78336, 54710,  8206, 38410, 14802, 50827,  1667, 41563,
       13653,  5985,  9358,  7561, 18376, 76409, 35944, 37529,  2363,
       52287,  5512, 34904, 41731, 60149, 21968, 44622, 10655, 57677,
       48545, 38470,  9883, 21639, 14015,   369, 48965, 71197,  5184,
       70722, 31287, 67113, 40229, 39216, 37655, 48254, 27312, 21871,
       73411, 14666,  9603, 27954, 38606, 12709, 44402, 57165, 64896,
       39977, 70096, 22652, 61748, 15035, 64824, 19373, 17790, 26176,
       40288,  6139, 25755, 35924, 51542, 14670, 73079, 46458, 41740,
       54117, 45823, 38774, 48677, 58279, 58696, 67147,   954, 42345,
       60612, 66578, 36931, 20634, 47547, 42911, 68026, 44823, 48383,
       55734, 12172, 57383, 50010, 26818, 10134, 42748, 19866, 16155,
       49131, 56169, 28512, 76684, 13502,  7125, 72588, 48518, 34411,
       32186, 48937, 65487, 31723, 72733, 63481, 51430, 33261,  5418,
       23204, 72644, 77434, 19991, 66794, 22581, 79520,  3110, 28442,
       51209, 73239, 65372, 21875,  6949,  1741, 39153, 39690, 24051,
       57059, 58032,  2380, 63011, 59572, 27899, 59169, 70815, 56050,
       60764,  7251, 64843, 70968, 18876, 16520, 48706, 56650,  4687,
       30423, 21348, 61449, 68137,  6645, 15983, 74540, 14376, 45179,
       15803, 65921, 12267, 54891, 73197, 71516, 75794, 28435,  9252,
       59915, 25263,   706,  9497, 36915, 39888,  6507, 77639, 52432,
        6611, 57549,  6818, 11238,   109, 23146, 75213, 34291,  7366,
       79707,    17, 69250, 25580,  6683,  2230, 68450, 31897, 46015,
       54285, 38039, 20034,  6382, 62854, 51166, 34200, 60483, 75912,
       58183, 74713, 47666,  6312, 27001, 31645, 79385, 10906, 39431,
       62714, 63032, 74314, 43042, 67791, 71561, 11094, 75334, 38954,
       67945, 74848,  3871,  7755,  8337, 52409, 48947, 44670, 66470,
       34123, 40519, 46284, 39782, 66557,  1660, 65497,  6483, 24941,
       35169, 54498, 71923, 80084, 63705, 74879, 20258, 21957, 58304,
        4976, 56777, 44885, 73325,   850, 12328, 25177, 62062, 20874,
       13179, 75397,  7440, 78859, 57685, 35392, 49347, 21073, 74971,
       50798, 77326, 46702, 67482,  4147,  7365, 19956, 29678, 19924,
       67472,   288, 48897, 61099,  8804, 15879, 44490, 50238, 41470,
       53889, 62298, 61116, 67753,    36, 64102, 39352, 60456, 61562,
       65844, 76141, 57742, 52240,  9643, 37536, 63341, 54713,  7994,
       68925, 76250,  9925,  6121, 16511, 53289, 48563, 22124, 41246,
          14,  4401, 10447, 73310, 37882, 32191, 38135, 19292, 38360,
       21497, 25689, 27431, 19978, 53440, 30113,  5740, 12027, 12130,
       48900, 65318, 39461, 62095, 46303, 45246, 59830, 37782, 71372,
       54979,  3614, 75681, 79846, 44701, 30177, 35694, 66816, 44087,
       70750, 73921, 32486, 36609, 29559,  8729, 71998, 23620, 13840,
       29369, 62451, 16831, 22102, 22007, 66440, 45196, 61327, 10370,
       51783, 14723, 80074, 37641,  7129, 37478, 26808, 72303, 70986,
       63578, 74199, 23670, 45503, 69851, 40502,  7232, 42901, 49115,
        6276, 45225, 29944, 43927,  1683, 28579, 31343, 41500, 18046,
       66947, 50061, 67163,  9470, 39278, 55044, 24475, 77111, 43289,
       25364, 74217, 40899, 79573, 37857, 70676, 69954, 21094, 25317,
       30975, 72748, 10632, 64131, 34418, 39237, 32806, 65101, 30753,
       56485,  8021,  6289, 63484, 13130, 41322, 45837, 24861, 56103,
       68848,  3112,  4393, 29172, 70736, 54648, 58755, 63293, 16888,
        4163, 52238, 46021, 22739, 79898, 75950, 54260, 40839, 63197,
       76807, 50842, 68902, 76880, 13899, 24570, 45129, 72735, 25173,
       43987,  5593, 52325, 16896,  6538,  8647,  7449, 75514, 57926,
       62114,  5608, 57273, 28212, 77253,  2408, 18761, 71717,  8755,
       15168, 31775,  6147, 33238, 76410,  9853, 37625, 61509, 45876,
       77872, 61808, 63402, 42995, 56684, 77564, 14821, 68000, 55070,
        6636, 39241, 14030, 76371, 25815,  5541, 72346, 77156, 67516,
       25794, 75939,  5923, 30559, 41884, 54518,  5336,  2309,  9151,
       41117, 63900, 74941, 72229, 26452, 62491, 48751, 22824, 34387,
       17596, 36269, 65067, 76285, 79143,  2581, 19379, 73784, 24373,
        9330, 53104, 31665, 11678, 45563, 21551, 26421,  4001, 78625,
       71212, 37006, 61298, 69080, 56870, 73059, 29352, 29460, 40765,
       78362, 26381,   707, 75021, 45353, 21778, 21754, 52026, 39374,
       39851, 22505, 76584, 14137, 72194, 49349, 45658, 41839, 70162,
       71501, 43999, 54649, 34398, 65523, 46133, 39890, 56440, 37787,
       26491, 58093, 10474, 31252,   681, 72133, 51155, 14289, 49332,
       45947, 64010, 66253, 49113, 58576, 39284, 74189, 27525, 46987,
       13788,   581, 52243, 73391, 69832, 31331, 40035, 10159, 22811,
       31299,  1716, 23515, 67307, 60598, 38522,  1387, 10691, 78012,
        7905, 47023, 62440, 13576, 19423, 40526, 17476, 47051, 31764,
       78928, 59746, 68332, 65148, 28381,   480, 42499, 12422, 11985,
       65872, 67881, 41530, 46051,  7151,  4720, 17798, 39000, 61471,
        1410, 50919, 59760,   281, 52877, 12203, 23301,  5288, 45580,
       18451, 58866,  6565, 68932, 19283, 57076, 13157, 55323, 77756,
       59720, 60108, 56652,  8986,  7271, 78755,  7386,  8413, 64985,
       47876, 45905, 20767, 63374, 77488,  1511, 24938, 45412, 43354,
       58037,  2306, 56762, 47482, 61359, 75297,  9048, 35409, 17046,
       65128, 69785, 69181, 48217, 33819, 52807, 36677, 21431, 17419,
       26776,  5322, 66875, 67765,  3858, 37707,  1368,  8756, 30098,
       76268, 16074,  9916, 28880,  4636, 42004, 46050,  2430, 14455,
       23579, 40667, 38991, 35173, 68815, 55640, 23271,  5510, 34430,
        7395])

In [37]:
ufoDS = ufo.loc[downSampleMask]
ufoDS

,date,city,state,country,shape,duration_seconds,duration,comment,report_date,latitude,longitude
46600,2006-06-10 23:55:00,columbus,oh,us,circle,180.0,3 minutes,6 circular objects sighted over Columbus&#44 OH,2006-07-16,39.961111,-82.998889
6899,2005-10-07 02:15:00,long beach,ca,us,unknown,1200.0,20 minutes,Star-like object/body very high the sky; but m...,2005-10-11,33.766944,-118.188333
3607,1999-10-02 01:45:00,alhambra,ca,us,light,3.0,3 seconds,Luminous green object seen in slow descent bef...,1999-10-19,34.095278,-118.126111
72803,1999-09-10 23:00:00,pollock pines,ca,us,light,1200.0,20 minutes,My friend and I were sitting outside on the pa...,1999-10-02,38.761389,-120.585556
17020,2010-12-10 08:20:00,houston,tx,us,disk,300.0,5 minutes,I was driving to work during the day and saw a...,2011-01-05,29.763056,-95.363056
...,...,...,...,...,...,...,...,...,...,...,...
55640,2013-07-01 21:30:00,kinross,mi,us,light,2700.0,45 minutes,I saw a UFO near Kinross MI on July 1&#44 2013.,2013-07-05,46.275000,-84.514722
23271,2008-12-07 18:00:00,junction city,or,us,oval,300.0,5 mins,unknow object in sky no color or sound no runn...,2009-01-10,44.219444,-123.204444
5510,2005-10-30 21:30:00,silver spring,md,us,triangle,1500.0,25 minutes,solid triangle with white lights and no sound ...,2007-02-01,38.990556,-77.026389
34430,2013-03-31 22:15:00,orange,tx,us,formation,7.0,7 seconds,Fast moving formation of ten UFO&#39s.,2013-05-15,30.092778,-93.736389
7395,2013-10-09 20:20:00,omro,wi,us,flash,2700.0,45 minutes,Multi-colored group of flashing lights zig-zag...,2013-10-14,44.039444,-88.744167

In [71]:
axis_names_subset = ['date', 'state', 'country', 'shape',
                     'duration_seconds', 'report_date', 'latitude', 'longitude']

In [177]:
%matplotlib inline
@ipywidgets.interact(xname = axis_names_subset, yname = axis_names_subset,cmap = plt.colormaps())
def ufo_scatter(xname,yname,cmap):
        fig = plt.figure(figsize=(10,5))
        x = ufo[xname]
        y = ufo[yname]
        plt.scatter(x,y,c=np.log10(ufo['duration_seconds']),cmap = cmap)

        plt.show()

interactive(children=(Dropdown(description='xname', options=('date', 'state', 'country', 'shape', 'duration_se…

In [167]:
categorical_columns = ['state', 'country', 'shape', 'duration_seconds_log', 'latitude']
ufo['duration_seconds_log'] = np.log10(ufo['duration_seconds'])

In [159]:
@ipywidgets.interact(bin_name = categorical_columns, nbins = np.arange(1,10))
def make_scatter(bin_name, nbins):
    fig, ax = plt.subplots(figsize=(20, 15))
    myseries = ufo.groupby(bin_name)[bin_name].count()
    if type(ufo[bin_name]) != float and type(ufo[bin_name]) != int:
            ax.bar(myseries.index, myseries.values)
    else: 
        ufo.hist(column=bin_name, ax=ax, bins=nbins)
    fig.autofmt_xdate(rotation=90)
    plt.show()

interactive(children=(Dropdown(description='bin_name', options=('state', 'country', 'shape', 'duration_seconds…